<h1>All Tasks</h1>

<ul>
  <% @tasks.each do |task|%>
    <li>
      <%= check_box_tag "completed", "completed", task.completed %>
      <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>

<p>
  Add a new task
  <%= link_to new_task_path do %>
    <i class="fas fa-plus"></i>
  <% end %>
</p>
